.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #521751;
    height: 56px;
}

.toolbar_navigation {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.toolbar_logo {
    margin-left: 1rem;
}

.toolbar_logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.spacer {
    flex: 1;
}

.toolbar_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar_navigation-items li {
    padding: 0 0.5rem;
}

.toolbar_navigation-items a {
    color: white;
    text-decoration: none;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
    color: rgb(78, 233, 212);
}

.content {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #000 url('./../../../assets/dashboard.png') no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
